/*
*
* Custom style
*
*/

/* ======================== box image */

@mixin imgbase($position: absolute, $height: 100%, $width: 100%, $top: 50%, $left: 50%, $transform: translate(-50%, -50%), $max-width: inherit!important, $object-fit: cover) {
  position: $position;
  height: $height;
  width: $width;
  top: $top;
  left: $left;
  transform: $transform;
  -webkit-transform: $transform;
  -ms-transform: $transform;
  max-width: $max-width;
  object-fit: $object-fit;
}

.bximage {
  a, span {
    position: relative;
    height: 0;
    padding-bottom: 63.25%;
    overflow: hidden;
    display: block;
    img {
      @include imgbase;
    }
  }
}

.carousel-control {
  span {
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
  }
}

.carousel-indicators {
  display: none;
}

main[role="main"] {
  background: url("asset/image/pattern.png");
  background-repeat: repeat-x;
  padding: 40px 0;
}

/* ======================== homepage */

.home-slider {
  &:before {
    background: rgba(0, 0, 0, .3);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.box-bg {
  &.ods {
    .row {
      text-align: center;
      font-size: 0;
      div[class*="col-md-"] {
        display: inline-block;
        float: none;
      }
    }
  }
}

.box-home-carousel .owl-nav, .hotel-info-home .owl-nav {
  display: none;
}

.owl-dots {
  text-align: center;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 0.2s ease;
      border-radius: 30px;
    }
    &.active, &:hover {
      span {
        background: #869791;
      }
    }
  }
}

body.home {
  main[role="main"] {
    padding: 0;
  }
  .box-deals {
    padding: 60px 0;
  }
}

@media(min-width: 1025px) {
  .home-slider {
    height: 100vh;
  }
}

#mainNav {
  .navbar-brand {
    height: 60px;
    padding: 0;
    a {
      img {
        max-height: 60px;
        padding: 5px 0;
      }
    }
    .logo-alt {
      display: none;
    }
  }
  &.nav-background {
    .navbar-brand {
      .logo-def {
        display: none;
      }
      .logo-alt {
        display: block;
      }
    }
  }
}

.hotel-info-home {
  .home-award-title {
    margin-top: 50px;
  }
}

/* ======================== booking form */

.booking-box {
  width: 100%;
}

.booking-section {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  .bookid-wrapper {
    padding: 10px 10px 0!important !important;
  }
}

#home-featured {
  h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 30px;
  }
}

.deals, .home-galleries, .home-gallery, .hotel-info-home {
  h3 {
    font-weight: 600;
  }
}

/* ======================== page */

.header-image-page {
  height: 40vh;
}

body.single-rooms {
  .room-details {
    background: #fff;
  }
}

/* ======================== contact page */

body.contact, body.contact-us {
  main[role="main"] {
    padding: 40px 0 0;
  }
}

.wpcf7-form {
  p {
    margin-bottom: 10px;
  }
  label {
    font-weight: normal;
    width: 100%;
    input, textarea {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #eaeaea;
      padding: 5px;

      &:focus {
        border: 1px solid #cec8c8;
      }
    }

    input {
      min-height: 40px;
      padding-left: 5px;
      &:focus {
        min-height: 40px;
      }
    }
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 15px;
    margin-top: 10px;
  }
}

.info-text {
  margin-bottom: 20px;
  .info-icon {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    float: none;
    text-align: center;
    @media(max-width: 767px) {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    .icon-round {
      width: 37px;
      height: 37px;
      line-height: 37px;
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      color: #fff;
      i {
        font-size: 14px;
      }
    }
  }
  .info-content {
    display: inline-block;
    vertical-align: middle;
    width: 83%;
    box-sizing: border-box;
    padding-left: 10px;
    ul {
      padding-left: 0;
    }
  }
}

/* ======================== menu */

.navbar-nav>li>a {
  font-size: 14px;
  font-weight: 300;
}

.nav-background {
  background: $color-white;
  .navbar-nav>li>a {
    color: $color-white;
    font-size: 14px;
    font-weight: 300;
  }
}

/* ======================== gallery page */

body.gallery, body.photos {
  .box-gallery {
    border: 0!important;
  }
  .gallery-view.slick-initialized.slick-slider {
    // max-height: 540px;
  }
  .gallery-view {
    margin-bottom: 10px;
    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .item {
      span {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        display: block;
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          max-width: inherit!important;
          object-fit: cover;
        }
      }
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227, 161, 28, 0.5);
        padding: 20px;
        color: $color-white;
        @media(max-width: 767px) {
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
  }
  .gallery-nav {
    .item {
      padding: 0 5px;
    }
  } // .gallery-nav {
  //   display: none;
  // }
}

/* ======================== visitor widget */

.widget_wp_statistics_widget {
  ul {
    li {
      color: #fff;
      label {
        margin-right: 5px;
      }
    }
  }
}

/* ======================== map section */

.map-section {
  @media(min-width: 1025px) {
    .contact-map {
      padding-left: 0;
    }
    .near-desc {
      padding-right: 0;
    }
  }
  .near-desc {
    ul {
      li {
        span {
          &:first-child {
            margin-right: 15px;
          }
          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}

.comments-area {
  .comment-list {
    display: block;
  }
}

.comment-form {
  .textarea-form {
    margin-bottom: 20px;
  }
}

.comment-list .reply a {
  margin-top: 0;
}

.commentlist .even .comment {
  background-color: #ccddf2;
}

.commentlist .odd .comment {
  background-color: #CCCCCC;
}

.comments-area article header {
  margin: 0 0 48px;
  overflow: hidden;
  position: relative;
  background-color: #55737D;
  color: #FFFFFF;
  padding: 10px;
}

li.bypostauthor cite span {
  color: #21759b;
  background-color: #f8f0cb;
  background-image: none;
  border: 1px solid #f8f0cb;
  border-radius: 3px;
  box-shadow: none;
  padding: 3px;
  font-weight: bold;
}

.reply {
  float: right;
}

.comment article {
  padding-bottom: 2.79rem;
}

a.comment-edit-link, a.comment-reply-link {
  color: #FFFFFF;
  font-size: 13px;
  font-size: 0.928571429rem;
  line-height: 1.846153846;
  text-decoration: none;
}

a.comment-edit-link:hover, a.comment-reply-link:hover {
  color: #f6e7d7;
}

a.comment-edit-link {
  margin: 0 0 10px 10px;
  text-align: center;
  border-radius: 3px;
  padding: 3px;
  width: 50px;
}

#cancel-comment-reply-link {
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
}

/* ======================== news */
.inner-news {
  .box-container {
    margin-bottom: 20px;
    h2 {
      margin-top: 0;
    }
    .box-text {
      padding: 10px;
    }
  }
}

/* ======================== single */

body {
  &.single-post {
    .headline {
      h1 {
        display: none;
      }
    }
  }
}

/* ======================== adjust nav breakpoint */
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

@media(min-width: 1024px){
  .box-home-grid .overlay:hover span {
    top: 35%;
    transform: translate(-50%, 10%);
  }
}

/* ======================== gmaps */
.popup-gmaps {
  position: fixed;
  bottom: 120px;
  right: 20px;

  span {
    width: 48px;
    height: 48px;
    display: block;
    text-align: center;
    border-radius: 100%;

    i {
      font-size: 18px;
      line-height: 48px
    }
  }
}

.thumbtitle {
  padding: 10px 0;
  min-height: 55px;
  line-height: 55px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/* ======================== home score */
.home-score {
  margin-bottom: 50px;

  .box-home-grid {
    text-align: center;


    .item {
      position: relative;
      padding: 0;
      float: none;
      display: inline-block;

      @media(min-width: 768px){
        width: 15%;
      }
    }
  }
}

/* ======================== heading */
.heading-box {
  padding-bottom: 30px;

  h2 {
    margin: 0;
  }
}
