/*
 Theme Name:   Indohotels Dark Child
 Theme URI:    https://indohotels.com/indohotels-dark-child/
 Description:   Indohotels Dark Child Theme
 Author:       Amri K
 Author URI:   http://amrikarisma.com
 Template:     indohotelswp
 Version:      1.1.5
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, one-columns, responsive-layout, accessibility-ready
 Text Domain:  indohotels-dark-child
*/
/*------------------------------------*\
    MAIN
    \*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
}

html input[type=button] {
  padding: 6px 15px;
}

body {
  font-weight: 400;
  font-size: 16px;
  color: #636363;
  max-width: 100%;
  max-height: 100%;
}
/* clear */
.clear:after,
.clear:before {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #4183D7;
  text-decoration: none;
}

a:hover {
  color: #4183D7;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}
/*------------------------------------*\
    STRUCTURE
    \*------------------------------------*/
.krs-hidden {
  opacity: 0;
}

.krs-visible {
  opacity: 1;
}
/* wrapper */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 960px;
}

.carousel-indicators li {
  border-radius: 0;
  width: 20px;
}

.carousel-indicators .active {
  width: 20px;
}
/* header */
.header-home {
  width: 100%;
  color: #CACACA;
}

.home-slider {
  height: 70vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-image-page {
  background-image: url('asset/images/header1.jpg');
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  color: #CACACA;
  position: relative;
}

.header-all {
  background: rgba(29, 29, 33, .8)!important;
  width: 100%;
  text-align: center;
  color: #CACACA;
  margin-bottom: 20px;
}

.header-no-image {
  background: $color-white;
  width: 100%;
  text-align: center;
  color: #CACACA;
  margin-bottom: 20px;
}

.headline-no-image {
  margin-top: 80px;
}

.headline-no-image h1 {
  color: #c6a63b;
}

header .search-hotels {
  padding-top: 280px;
  padding-bottom: 200px;
}

header .headline h1.title {
  font-size: 38px;
  line-height: 85px;
  font-weight: 400;
  color: $color-white;
}

header .overlay {
  width: 100%;
  height: 70vh;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
  z-index: 9;
}

header .logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Logo */
header .wrap-logo {
  height: 100px;
  overflow: hidden;
}

header .logo {
  text-align: center;
  background-image: url("asset/images/bg-logo.png");
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
  height: 219px;
  padding: 10px;
}
/* PNG */
header .logo-img {
  color: $color-white;
  max-height: 50px;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}

header .logo-center a img.img-responsive.logo-img {
  max-height: 160px;
}

header {
  .text-header {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: $color-white;
    p {
      font-size: 16px;
    }
    button.btn {
      color: $color-white;
      font-style: italic;
      border-radius: 0;
      background-color: #4183D7;
      &:hover {
        border: 4px solid $color-white;
        color: $color-white;
      }
    }
    @media(max-width: 767px){
      top: auto;
      bottom: 0;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}


/* nav */
.navbar {
  margin-bottom: 0;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 15px;
  padding: 5px;
}

.navbar-fixed-top {
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.nav-no-image {
  background-color: #013243;
}

.nav-background {
  background-color: #013243;
}

.navbar-custom ul li {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
}

.nav ul li a::after,
.nav ul li a::before,
.nav ul li a:active,
.nav ul li a:hover,
.navbar-custom ul li a:hover {
  background: none;
  text-decoration: underline;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

.nav-bottom ul li {
  display: inline;
  padding: 5px 20px;
  font-size: 16px;
}

.nav ul li a,
.navbar-nav > li > a {
  color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

ul.nav.navbar-nav:before {
  margin-left: 0;
}

li.btn.btn-rooms {
  margin: 15px;
  background-color: $color-white;
  border: 1px solid #4183D7;
  border-radius: 0;
  display: inline-block;
}

li.btn.btn-rooms a {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

li.btn.btn-rooms:active,
li.btn.btn-rooms:hover {
  background-color: #ebebeb;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav.navbar-nav.sub-nav {
  margin-left: 12px;
}

.nav ul.dropdown-menu {
  background: #337ab7;
  border-radius: 0;
  border: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #337ab7;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: transparent;
  color: $color-white;
}
/* Main */
.cover-check {
  margin-bottom: 30px;
}

.booking-title {
  padding: 5px 0;
  font-size: 12px;
}

#welcome-hotel .box-bg {
  color: #444;
  line-height: normal;
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
}

#welcome-hotel h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.hotel-property {
  margin-top: 35px;
  margin-bottom: 70px;
  h4 {
    font-weight: 400;
  }
}


#home-featured {
  width: 100%;
  color: $color-white;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .box-bg {
    text-align: center;
  }
}

#home-featured .box-relative {
  position: relative;
  height: 72vh;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #home-featured{
    background-attachment: scroll;
  }
}

#home-featured .box-bg {
  /* background-color: rgba(26, 91, 0, 0.55); */
  // padding: 10px;
  // position: absolute;
  // width: 50%;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // text-align: center;
}

#home-featured .box-bg img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#home-featured .box-bg img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#home-featured h2 {
  color: $color-white;
  font-size: 44px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

#home-featured h4 {
  text-align: center;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size: 16px;
  // min-height: 35px;
}

#home-featured .box-bg p {
  font-size: 19px;
  text-align: center;
}

#home-featured .box-room {
  background-color: rgba(65, 131, 215, 0.68);
  margin-bottom: 30px;
}
/* ==== sidebar ==== */
/* ==== Home ==== */
.booking-section {
  position: relative;
}

.deals {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  text-align: center;
}

.deals h3 {
  text-align: center;
  text-transform: uppercase;
}

.deals h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-home-grid {
  position: relative;
  // background: rgba(203, 231, 255, 0.77);
  /* padding-top: 50px; */
}

.box-home-grid .item {
  position: relative;
  cursor: pointer;
}

.box-home-grid .thumbnails {
  margin-left: -15px;
  margin-right: -15px;
}

.box-home-grid .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 50, 67, .50);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.box-home-grid .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.box-home-grid .overlay span {
  position: absolute;
  // bottom: 200%;
  font-size: 22px;
  color: $color-white;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.box-home-grid .overlay:hover span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-delay: 0.25s;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.button-check button.btn.btn-check {
  width: 100%;
  margin-top: 32px;
}

.home-carousel {
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.home-carousel, .inner-page {
  &.owl-carousel {
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      margin-top: -10px;
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
}

.inner-page {
  &.owl-carousel {
    .owl-prev {
      left: 10px;
    }
    .owl-next {
      right: 10px;
    }
  }
}

.title-gallery-home,
.title-slide {
  text-align: center;
}

.title-slide p {
  padding: 0 30px;
}

.title-gallery-home h2 {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

.title-slide h2 {
  font-size: 20px;
  color: #333;
}

.slide-awards img {
  max-width: 200px;
  margin: 0 auto;
}

.owl-next .glyphicon.glyphicon-chevron-right,
.owl-prev .glyphicon.glyphicon-chevron-left {
  color: #333;
  font-size: 20px;
}

.line {
  margin: 5px 0px 20px;
  display: inline-block;
  width: 100px;
  background: #4183D7;
  height: 2px;
}

section.box-home-deals .home-award-title {
  text-align: center;
}

.home-award-title h3 {
  text-transform: uppercase;
}
/* magnific Popup*/
.white-popup {
  position: relative;
  background: $color-white;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
/* == Footer === */
footer {
  color: #333;
  background-color: #f8f8f8;
  /*    border-top: 1px solid #ECECEE;
*/
}

footer .nav-bottom,
nav .navbar-custom {
  margin-top: 15px;
  padding: 10px;
  color: white;
  margin-left: -15px;
  margin-right: -15px;
}

footer li,
footer ol {
  list-style: none;
  /* display: inline-block; */
  margin-bottom: 10px;
}

footer h4 {
  color: $color-white;
  /* text-align: center; */
}

footer .menu li {
  display: block;
  margin-bottom: 10px;
}

footer ul {
  -webkit-padding-start: 0;
}

footer ul.footer-menu {
  margin-bottom: 0;
}

footer .nav ul li a,
footer .navbar-nav > li > a {
  color: #333;
}

.footer-distributed {
  background-color: #013243;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 14px;

  // > .container {
  //   padding: 40px 15px 40px 15px;
  // }

  .footer-info {
    .footer-widget {
      margin-bottom: 30px;
    }
  }
}
/* Footer left */
.footer-distributed .footer-left {
  width: 33%;
}

.footer-left img {
  height: 90px;
}
/* The company logo */
.footer-distributed h3 {
  color: $color-white;
  @media(max-width: 767px){
    font-size: 20px;
  }
}

.footer-distributed h3 span {
  color: #5383d3;
}
/* Footer links */
.footer-distributed .footer-links {
  color: $color-white;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links li {
  display: block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
}

.footer-distributed .footer-links li:hover a {
  color: #4183D7;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: $color-white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer-distributed .krs_info_widget p {
  display: inline-block;
  color: $color-white;
  vertical-align: middle;
  margin: 0;
  width: 80%;
}

.footer-distributed .krs_info_widget p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .krs_info_widget p a {
  color: #4183D7;
  text-decoration: none;
}
/* Footer Right */
.footer-distributed .footer-widget ul li a {
  color: $color-white;
}

.footer-distributed .footer-widget.widget_text p {
  font-size: 14px;
  font-weight: 400;
  color: $color-white;
}

.footer-distributed .footer-credits {
  font-size: 12px;
  color: $color-white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: $color-white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: $color-white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #4183D7;
  border-radius: 50%;
  font-size: 16px;
  color: $color-white;
  text-align: center;
  line-height: 34px;
  margin-right: 3px;
  margin-bottom: 5px;
  border: 2px solid $color-white;
}

.footer-distributed .footer-icons a:hover {
  background-color: #4183D7;
  color: $color-white;
  border: 2px solid #4183D7;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    //font: bold 14px sans-serif;
  }

  .footer-distributed .footer-center,
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
/* end footer */
.btn-outline {
  color: #4183D7;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: $color-white;
  background: #4183D7;
  border: solid 2px #4183D7;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #4183D7;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid #4183D7;
  background-color: #4183D7;
  color: $color-white;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.btn-check,
.btn-check:active {
  background-color: #4183D7;
  color: $color-white;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.btn-check:hover {
  background-color: #333;
  color: $color-white;
}
/* Booking */
.mid-booking {
  position: absolute;
  top: 41%;
  left: 27%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.59);
  max-width: 315px;
  padding: 10px;
  color: #333;
  font-size: 14px;
}

.mid-booking .col-xs-4 {
  padding-right: 0;
  padding-left: 0;
  cursor: pointer;
}

.mid-booking .col-xs-4:nth-child(1) {
  padding-right: 5px;
}

.mid-booking .col-xs-4:nth-child(2) {
  padding-right: 0;
  padding-left: 0;
}

.mid-booking .col-xs-4:nth-child(3) {
  padding-left: 5px;
}

.mid-booking label {
  font-weight: 400;
  padding: 0;
  font-size: smaller;
  color: $color-white;
}

.mid-booking h2 {
  text-align: center;
  margin: 0 0 10px;
  font-size: 25px;
  color: $color-white;
}

.mid-booking .book_today {
  font-weight: 500;
  font-style: italic;
  padding-bottom: 10px;
}

.mid-booking .logo-jogjahotels {
  text-align: center;
}

.mid-booking .powered {
  margin-left: -50px;
  margin-bottom: -18px;
}

.mid-booking .logo-jogjahotels img {
  width: 130px;
}

.mid-booking .box-number,
.mid-booking .m-box-number {
  background: #4183D7;
  float: right;
  border-radius: 3px;
  max-width: 100px;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.box-number input[type=button]:first-child,
.m-box-number input[type=button]:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: url("asset/images/room-minus.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.box-number input[type=button]:last-child,
.m-box-number input[type=button]:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: url("asset/images/room-plus.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.box-number input[type=text],
.m-box-number input[type=text] {
  width: 40%;
  margin-bottom: 0 !important;
  border: 0;
  border-radius: 0!important;
  text-align: center;
  float: left;
  min-height: 35px;
  margin-top: 1px;
}

.box-number input[type=text].t_night,
.m-box-number input[type=text].t_night {
  min-height: 36px;
  margin-top: 1px;
}

.box-number.night input.qtyminus,
.box-number.night input.qtyplus,
.box-number.night input.room_t_night {
  min-height: 40px;
}

.box-number input[type=button],
.m-box-number input[type=button] {
  background: #4183D7;
  border: 0;
  height: 37px;
  width: 30%;
  padding: 5px 10px;
  font-size: 20px;
  float: left;
  vertical-align: top;
  -webkit-appearance: none;
}

.box-number.night {
  min-height: 38px;
  float: none;
  margin: 0 auto;
  max-width: 100%;
}

.mid-booking .form-field-row.widget {
  margin-top: 30px;
}

.col-xs-24.m_b_10.p_0 {
  margin-bottom: 10px;
}

button.btn.btn-primary.btn-block {
  border-radius: 3px;
  background-color: #4183D7;
  border-color: #4183D7;
}

.web-title {
  display: none;
}

.mid-booking .form-group.book-option {
  margin-bottom: 20px;
}

.form-control[readonly],
.mid-booking input[type=text] .from_date,
.mid-booking input[type=text] .to_date {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
  background-color: $color-white;
}

.form-control[readonly],
.mid-booking input[type=text].from_date {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 0;
  background-color: $color-white;
  height: 19px;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
}

.mid-booking span#from_date_day,
.mid-booking span#to_date_day {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  background: $color-white;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  float: left;
  padding: 0 10px;
  font-size: 13px;
}

.powered-by {
  text-align: center;
}
/*------------------------------------*\
    PAGES
    \*------------------------------------*/
h1.title {
  font-size: 5.4rem;
  color: #4183D7;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.room-post h2 a {
  font-size: 24px;
  padding-top: 5px;
}

article p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.page-template-default.page article p {
  line-height: 2;
}
/* ------ Rooms ---*/
.room-thumb {
  text-align: left;
}

.room-thumb:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.room-thumb:active h4,
.room-thumb:hover h4 {
  color: $color-white;;
}

.room-thumb.thumbnail {
  border-radius: 0;
  border: none;
}

h2.title {
  text-align: left;
  margin-bottom: 0;
  margin-top: 30px;
}

h4.title-room-list {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

h2.title-room-list a {
  color: #000;
}

/* rooms */
.inner-page {
  padding: 20px;
  background: $color-white;
  .room-thumb {
    &.thumbnail {
      padding: 0;
    }
  }
  .box-text {
    h2 {
      font-size: 24px;
      margin: 10px 0 15px;
    }
  }
}

.room-info {
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 0;
  li {
    list-style: none;
    font-size: 12px;
    font-style: inherit;
    padding: 0 0 5px;
    //list-style-image: url("asset/images/list2.png");
    //list-style-position: inside;
    width: 50%;
    float: left;
  }
  &:after {
    clear: both;
    display: block;
    content:"";
  }
}

.room-breakfast {
  font-size: 18px;
  padding: 5px;
  color: $color-white;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.room-price {
  color: #4183D7;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.book-room {
  text-transform: uppercase;
  padding: 10px;
  background-color: #4183D7;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  &:hover {
    background-color: $color-white;
    color: #4183D7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    a {
      color: #4183D7;
      transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
    }
  }
}

.book-room a {
  color: $color-white;
  &:hover {
    color: #4183D7;
    text-decoration: none;
    background-color: $color-white;
    color: #4183D7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }
}


.room-tax {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

.room-detail a {
  color: #4183D7;
}

.rooom-no {
  margin-bottom: 30px;
}

.box-text {
  position: relative;
  h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: #4183D7;
    position: relative;
    text-align: center;
  }
}

/* --- PAGE AVAILABLE ROOMS ----- */
.room-booking {
  padding: 15px;
}

.room-booking .col-booking,
.room-booking .col-value {
  padding: 10px;
}

.room-booking.col-booking.table > tbody > tr > td {
  border: none;
  color: #4183D7;
}

.room-booking img {
  width: 100%;
}

.room-details .form-control {
  margin-bottom: 10px;
}
/* ---------------------*/
/* Page Room Details */
/* -------------------- */
.room-title-box {
  background: rgba(17, 17, 17, 0.5);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.room-title-box {
  font-weight: 600;
  color: $color-white;
  text-transform: uppercase;
  max-width: 50%;
  margin: 0 auto;
}

.room-title-box h2 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 5px;
}

.room-balcony {
  font-style: italic;
}

.room-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.room-details-spec {
  background: rgba(0, 0, 0, 0.5);
  color: $color-white;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  z-index: 100;
  font-weight: 600;
  vertical-align: middle;
}

span.room-value {
  min-width: 85px;
  display: inline-block;
}

h3.room-details-f-title {
  background-color: #ebebeb;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #4183D7;
}

.feature-box.col-md-12.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

ul.room-features li {
  list-style-type: square;
}
/* ----- Gallery Slider ------*/
div#main_area {
  margin-left: auto;
  margin-right: auto;
}

.gallery-view.slick-initialized.slick-slider {
  // max-height: 500px;
}

.gallery-view .item img {
  margin: 0 auto;
  width: 100%;
}

.gallery-nav .item {
  max-height: 90px;
  overflow: hidden;
}
/* Contact Us */
.contact-box {
  /* border: 1px solid #4183D7; */
  /*margin: 15px;*/
  margin-top: 10px;
  background: #ebebeb;
  margin-bottom: 20px;
}

.contact-headline {
  background: #4183D7;
  padding: 1px 10px;
  color: $color-white;
  margin: 0 -15px;
}

.contact-headline h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-address {
  padding: 10px 0;
}

.contact-info tr td:first-child,
.contact-info tr td:nth-child(2) {
  padding-right: 10px;
}

.contact-info ul {
  margin-left: 0;
  padding-left: 7px;
  vertical-align: top;
  margin-bottom: 0;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info ul > li {
  list-style: none;
  vertical-align: top;
}

.contact-info table tbody tr {
  height: 2em;
}

.nf-form-fields-required {
  font-style: italic;
}

.contact-info table td {
  vertical-align: text-top;
}
/*------------------------------------*\
    IMAGES
    \*------------------------------------*/
.thumb {
  overflow: hidden;
}

.thumb-deals {
  overflow: hidden;
  min-height: 150px;
  max-height: 150px;
  background-color: #ebebeb;
}

.deals .thumbnail {
  border: none;
  border-radius: 0;
}

.thumbnail > img,
.thumbnail a > img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.thumbnail > img:hover,
.thumbnail a > img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

.thumbnail-box {
  margin-top: 10px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.box {
  background: #f7f7f7;
  color: #c6a63b;
  text-align: center;
  /* background-color: #013243; */
}

.box h4 {
  font-weight: 800;
  font-size: 24px;
  background-color: #013243;
  padding: 10px;
}

.box p {
  margin-bottom: 12px;
}
/*------------------------------------*\
    TYPOGRAPHY
    \*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    RESPONSIVE
    \*------------------------------------*/
@media only screen and (max-width:320px) {}
@media only screen and (max-width:480px) {
  .booking {
    width: 100%;
  }

  .box-logo {
    display: none;
  }
  /* Rooms */
  .box-container {
    padding: 0;
    margin: 0;
  }


  .powered-by {
    margin: 10px;
    text-align: center;
  }
}
@media only screen and (max-width:768px) {
  .navbar .navbar-collapse {
    background: rgba(29, 29, 33, .8);
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.42);
  }

  .home-slider {
    background-size: inherit;
  }

  header .text-header {
    left: 50%;
    text-align: center;
  }

  header .text-header span {
    line-height: 23px;
  }

  .thumb-deals {
    overflow: hidden;
    min-height: auto;
    max-height: none;
    background-color: #ebebeb;
  }

  .mid-booking {
    position: static;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: -10px;
    top: auto;
    left: auto;
    transform: inherit;
  }

  #home-featured {
    height: auto;
  }

  #home-featured .box-bg {
    width: 100%;
    position: static;
    transform: none;
    margin: 0 auto;
    text-align: center;
  }

  .room-details-spec {
    position: initial;
  }

  .room-details-spec span.col-md-3 {
    display: inline-grid;
    color: #636363;
  }

  header .headline h1.title {
    font-size: 24px;
    line-height: normal;
  }

  footer .nav-bottom ul li {
    font-size: 14px;
    padding: 5px;
    display: block;
  }

  .footer-distributed .footer-widget p {
    display: block;
    width: 100%;
  }

  .footer-distributed .footer-widget {
    text-align: center;
    ul {
      margin: 0 -10px;
      li {
        display: inline-block;
        padding: 0 10px;
      }
    }
  }
}
@media only screen and (max-width:1024px) {}
@media only screen and (max-width:1140px) {}
@media only screen and (max-width:1280px) {}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {}
@media only screen and (max-width: 991px) {
  #home-featured .box-bg {
    width: 80%;
    max-width: 960px;
  }
}
/* -------------- */
/* --- CALERAN -- */
/* -------------- */
/* Caleran */
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start {
  min-width: 0;
  margin: 0 !important;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
  width: calc(100% / 7);
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 1px;
  background: #4183D7;
  cursor: not-allowed !important;
  color: $color-white;
  min-height: 30px;
  border-radius: 2px;
  position: relative;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.caleran-apply,
.caleran-apply-d {
  background: #4183D7 !important;
  border: 1px solid #4183D7 !important;
  color: $color-white;
  margin-left: 7px;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
  background: $color-white;
  border: 1px solid #4183D7 !important;
  color: #4183D7 !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span {
  background: #4183D7 !important;
  color: $color-white;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  text-align: left;
  max-width: 40vmin;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: right !important;
  margin-left: 10px !important;
  margin-right: 0px !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
  color: #be142f;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
  margin-top: 0 !important;
}
@media screen and (orientation: landscape) {
  .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
    width: auto;
    min-width: 0;
  }
}
@media screen and (max-height: 480px) {
  .caleran-container-mobile .caleran-input {
    top: auto;
    bottom: 0;
  }

  // .box-text {
  //   margin-top: 10px;
  // }
}

/* --- End Caleran -- */
/**
 * 12.3 Comments
 */

.comments-area {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 7.6923%;
  text-align: left;
}

.comments-area> :last-child {
  margin-bottom: 0;
}

.comment-list+.comment-respond {
  // border-top: 1px solid #eaeaea;
  // border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.comment-list+.comment-respond,
.comment-navigation+.comment-respond {
  padding-top: 1.6em;
}

.comments-title,
.comment-reply-title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333;
}

.comments-title {
  margin-bottom: 1.3333em;
}

.comment-list {
  list-style: none;
  margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 1.6em 0;
}

.comment-list .children {
  list-style: none;
  margin: 0;

  &:before,
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

.comment-list .children>li {
  padding-left: 0.8em;
}

.comment-author {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 0.4em;

  img {
    float: left;
    margin-right: 20px;
  }
}

.comment-author a:hover {
  border-bottom: 1px solid #707070;
  border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.comment-author .avatar {
  float: left;
  height: 24px;
  margin-right: 0.8em;
  width: 24px;
}

.bypostauthor>article .fn:after {
  content: "\f304";
  position: relative;
  top: 5px;
  left: 3px;
}

.comment-metadata,
.pingback .edit-link {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.comment-metadata a,
.pingback .edit-link a {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

.comment-metadata a:hover,
.pingback .edit-link a:hover {
  border-bottom: 1px solid #333;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
  color: #333;
}

.comment-metadata {
  margin-bottom: 1.6em;
}

.comment-metadata .edit-link {
  margin-left: 1em;
}

.pingback .edit-link {
  margin-left: 1em;
}

.pingback .edit-link:before {
  top: 5px;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 1.6em 1.3333em;
}

.comment-content li>ul,
.comment-content li>ol {
  margin-bottom: 0;
}

.comment-content> :last-child {
  margin-bottom: 0;
}

.comment-list .reply {
  font-size: 12px;
  font-size: 1.2rem;
}

.comment-list .reply a {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin-top: 2em;
  padding: 0.4167em 0.8333em;
  text-transform: uppercase;
}

.comment-list .reply a:hover,
.comment-list .reply a:focus {
  border-color: #333;
  color: #333;
  outline: 0;
}

.comment-form {
  padding-top: 1.6em;
}

.comment-form label {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
  width: 100%;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2em;
}

.logged-in-as a:hover {
  border-bottom: 1px solid #333;
}

.no-comments {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-weight: 700;
  padding-top: 1.6em;
}

.comment-navigation+.no-comments {
  border-top: 0;
}

.form-allowed-tags code {
  font-family: Inconsolata, monospace;
}

.form-submit {
  margin-bottom: 0;
}

.required {
  color: #c0392b;
}

.comment-reply-title small {
  font-size: 100%;
}

.comment-reply-title small a {
  border: 0;
  float: right;
  overflow: hidden;
}

.comment-reply-title small a:before {
  content: "\f057";
  font-size: 14px;
  position: relative;
  margin-right: 5px;
}


/*------------------------------------*\
    MISC
    \*------------------------------------*/
::selection {
  background: #4183D7;
  color: $color-white;
  text-shadow: none;
}

::-webkit-selection {
  background: #4183D7;
  color: $color-white;
  text-shadow: none;
}

::-moz-selection {
  background: #4183D7;
  color: $color-white;
  text-shadow: none;
}
/*------------------------------------*\
    WORDPRESS CORE
    \*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: $color-white;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.gallery-caption,
.wp-caption .wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
    PRINT
    \*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* additional */

.navbar-fixed-top {
  background-color: transparent;
}

/* gallery page */
@media only screen and (max-width: 1024px) {
  .home-slider {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
    background-attachment: scroll;
  }
}
